<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilo.css">
        <title>Cadastro</title>
    </head>
    <body>
        <div class="col-8 mt-2">
            <h2 class="alert alert-primary">Tela de Cadastro</h1>
            <form method="POST">
                <div class="form-group col-8">
                    <label for="iCpf" class="control-label">CPF</label>
                    <input type="text" class="form-control" name="nCpf" id="iCpf" placeholder="000.000.000-00"/>
                    <label for="iNome" class="control-label">Nome</label>
                    <input type="text" class="form-control" name="nNome" id="iNome" placeholder="Digite seu nome..." maxlength="101"/>
                    <label for="iEmail" class="control-label">E-mail</label>
                    <input type="email" class="form-control" name="nEmail" id="iEmail" placeholder="email@dominio.com"/>
                    <label for="iSenha" class="control-label">Senha</label>
                    <input type="password" class="form-control" name="nSenha" id="iSenha" placeholder="********"/>
                    <button type="submit" class="btn btn-success" name="nCadastrar" id="iCadastrar" disabled="true">Cadastrar</button>
                    <button type="reset" class="btn btn-danger" name="nReset" id="iReset">Reset</button>
                </div>
            </form>
        <!--
            <a href="#" class="badge badge-primary">Já possui cadastro?</a> ou
            <a href="#" class="badge badge-primary">Esqueceu a senha?</a>
        -->
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script> 
    <script src="js/script.js"></script>
</html>